@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

body {
    font-family: 'Papyrus', 'IM Fell English', fantasy !important;
}

#top-right-menu {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}
